body {
  font-family: monospace;
}

#dropzone {
  background: LightSkyBlue;
  border: solid black 1px;
  padding: 1em;
  width: 300px;
}

canvas {
  /*
  position: absolute;
  top: 0;
  left: 0;
  */
  width: 400px;
  height: 400px;
  border: solid black 1px;
  image-rendering: optimizeSpeed;
}

#backstage {
  visibility: hidden;
}

.thumbnail {
 max-width: 100px;
 max-height: 100px;
}
